# Feast Lane / Next.js
# Get your key from Pexels API.
PEXELS_API_KEY=aECoZNYRyBfHtn6BriajYz5iahxz6DiNq1MirMLjEMmdvkpPAxULjcFw
DATABASE_URL="postgresql://postgres:FeastLane2026@localhost:5432/feastlane"
DATABASE_URL="postgresql://user:9940064098@localhost:5432/feastlane"